.teamheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  box-sizing: border-box;


  .header-first {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;

    .header-right {
      display: flex;
      align-items: center;
      gap: 12px;

      .icon-search {
        width: 17px;
        height: 17px;
      }
    }
  }

  .title {
    font-size: 1.75rem; // 16px -> 1rem
    font-weight: 700;
    color: #f76241;
    font-family: KIMM_Bold;
  }
}
