.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 1rem;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 166px;
  margin: 0.5rem 0;
  cursor: pointer;

  position: relative;

  .card-content {
    flex: 1;

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      .title {
        font-size: 16px;
        font-family: Pretendard;
        font-weight: bold;
        color: #000;
        font-weight: 600;
        font-style: normal;
      }
    }
  }

  .details {
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 1rem;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.25rem;

      svg {
        width: 16px;
        height: 16px;
        padding: 4px;
        background-color: #403e3e;
        border-radius: 5px;
        color: #fffdfc;
      }
    }

    .applicant-info {
      color: #F76241;
      font-weight: 500;

      svg {
        background-color: #F76241;
      }
    }
  }

  .team {
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;

    .member {
      flex-shrink: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
    }
  }
}

.projectCard-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .time-ago {
    position: relative;
    font-size: 11px;
    color: #888;
    display: flex;
    align-items: center;

    .dot {
      position: absolute;
      top: 0px;
      right: -3px;
      width: 0.2rem;
      height: 0.2rem;
      background: red;
      border-radius: 50%;
      margin-left: 0.25rem;
    }
  }
}
