.project-card {
  display: flex;
  justify-content: space-between;
  
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background: #fff;
  width: 100%;
  height: 166px;

  cursor: pointer;

  position: relative;

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 100%;
    .info {
      .title {
        font-size: 16px;
        font-family: Pretendard;
        font-weight: bold;
        color: #000;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 0.5rem;
      }

      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.25rem;
  
        svg {
          width: 16px;
          height: 16px;
          padding: 4px;
          background-color: #403e3e;
          border-radius: 5px;
          color: #fffdfc;
        }
    }
  }

  .details {
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 1rem;

    
    }

    .applicant-info {
      color: #F76241;
      font-weight: 500;

      svg {
        background-color: #F76241;
      }
    }
  }

  .team {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 2rem;

    .team-avatar {
      width: 2.25rem; 
      height: 2.25rem;
      border-radius: 50%;
      border: 2px solid #fff;
      object-fit: cover;
      position: relative;
      
      &:not(:last-child) {
        margin-left: -12px;
      }
    }
  }
}

.projectCard-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  position: relative;
  
  .time-ago {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    color: #888;
  }
}
