.slide-card.schedule-slide {
  height: 228px;
  display: flex;
  flex-direction: column;
  .schedule-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #403e3e;
    margin-bottom: 22px;
  }

  .week-row {
    display: flex;
    justify-content: space-between;

    .week-day {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .abbr {
        font-size: 10px;
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        color: #807c7c;
      }
      .date {
        margin-top: 8px;
        line-height: normal;
        color: #403e3e;
        font-size: 14px;
      }

      &.today {
        width: 36px;
        height: 56px;
        flex-shrink: 0;
        background: #f76241;
        border-radius: 28px;
        color: #fff;
      }
      &.selected {
        width: 36px;
        height: 56px;
        flex-shrink: 0;
        background: #f76241;
        border-radius: 28px;
        color: #fff;
      }
      &.selected .abbr,
      &.selected .date {
        color: #fff;
      }
    }
  }

  .events-list {
    overflow-y: auto;
    margin-top: 12px;
    padding-right: 4px;

    .event-item {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      padding: 8px 0;

      border-bottom: 1px dashed #d1cccb;

      .time {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        color: #000;
      }
      .desc {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        color: #000;
      }
    }
  }
}
