@use '../../../styles/variables' as *;

.indicatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.stepWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stepCircle {
    width: 17px;
    height: 17px;
    border-radius: 8.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: $font-weight-bold;
    line-height: 140.98%;
    transition: all 0.2s;

    // Pending (Default)
    background-color: #D1CCCB;
    color: $white;

    // Current
    &.current {
        background-color: $primary-color;
        color: $white;
    }

    // Completed
    &.completed {
        background-color: transparent;
        color: $primary-color;
        border: none;
    }
}

.checkIcon {
    font-size: 14px;
}

.separator {
    width: 30px;
    height: 1px;
    background-color: #ECECEC;

    &.active {
        background-color: $primary-color;
    }
}