.recruiting-project-card {
  margin-bottom: 1rem;

  .recruiting-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    border: 2px solid transparent; // 기본은 투명
    cursor: pointer;
    transition: transform 0.2s ease;

    &.is-dday {
      border-color: #f76241; // D-DAY일 때만 빨간색 테두리
    }

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #000;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .description {
      font-size: 13px;
      color: #999;
      margin-bottom: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.4;
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;

      .info-left {
        display: flex;
        flex-direction: row;

        .views {
          display: flex;
          align-items: center;
          color: #bbb;
          margin-right: 1rem;

          .info-view-icon {
            font-size: 14px;
            margin-right: 4px;
          }

          span {
            font-size: 12px;
          }
        }

        .comments {
          display: flex;
          align-items: center;
          color: #bbb;

          .info-icon {
            font-size: 14px;
            margin-right: 4px;
          }

          span {
            font-size: 12px;
          }
        }
      }

      .d-day {
        color: #f76241;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
      }
    }
  }
}