/* 전체 감싸는 영역 */
.withdrawal-container {
<<<<<<< HEAD
  width: 390px;           /* 화면 기준 */
  padding: 0 16px;        /* 왼쪽 16px 동일 유지 */
  box-sizing: border-box;

  display: flex;
  justify-content: flex-end;  /* 오른쪽 정렬 */
  margin-top: 90px;           /* 위 요소와 간격 */
=======
  width: 100%;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;  /* 가운데 정렬 */
  margin-top: 0;            /* 부모에서 gap으로 간격 처리 */
>>>>>>> main
}

/* '탈퇴하기' 텍스트 스타일 */
.withdrawal-text {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 500;       /* Medium */
  color: #D1CCCB;         /* grey2 (#D1CCCB) */
  cursor: pointer;

  text-decoration: underline;
  text-underline-offset: 2px;   /* 피그마 Offset 25% 구현 */
}
