.evaluation-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  margin-bottom: 16px;

  .alert-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 143.63%;
    color: #000;
    margin: 0;
  }

  .sort-dropdown-wrapper {
    position: relative;
    display: inline-block;

    .sort-dropdown {
      appearance: none;
      padding: 0px 28px 0px 8px;
      font-size: 12px;
      color: #403E3E;
      border: none;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      font-family: Pretendard, sans-serif;

      &:focus {
        outline: none;
      }
    }

    .dropdown-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 3.5px;
      color: #403E3E;
      pointer-events: none;
    }
  }
}
