.todo-box-container {
  padding: 0px 15px;

  h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .todo-box {
    width: 100%;
    padding: 21;
    border-radius: 18px;
    border: 1px solide #ececec;
    background: #fffdfc;

    .todo-list {
      display: flex;
      padding: 17px 30px 0 23px;
      justify-content: space-between;

      .checkBox {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        stroke-width: 1px;
        border: 1px solid #d1cccb;
      }
    }
  }
}
