.member-header-container {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #fffdfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  padding: 12px 22px 12px 21px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 12px;

  .member-header-back,
  .member-header-chat {
    background: none;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .member-header-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.2px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .member-header-chat--placeholder {
    width: 22px; /* 아이콘 크기와 동일하게 */
    flex-shrink: 0;
  }
}
