.bottom-nav {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 88px;
  background-color: #ffffff;
  border-top: 0.0625rem solid #eaeaea;
  z-index: 100;

  .nav-item {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: #aaa;

    .nav-icon {
      width: 20px;
      height: 20px;
      margin-bottom: 0.25rem;

      &.active {
        color: #F76241;
      }
    }

    span {
      font-size: 1rem;
    }

    &.active,
    &.active span {
      color: #F76241;
    }
  }
}
